<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ScoreBoard</title>
</head>
<body>
	<form action="/scoreboard" method="post">
		<label for="math">Math</label>
		<input type="text" name="math" id="math">
		<label for="physics">Physics</label>
		<input type="text" name="physics" id="physics">
		<label for="chemistry">chemistry</label>
		<input type="text" name="chemistry" id="chemistry">
		<label for="SSC">SSC</label>
		<input type="text" name="SSC" id="SSC">

		<button type="submit">Submit</button>
	</form>
</body>
</html>